@import 'vars'; /* Add the variables */
@import 'mixins'; /* Add the mixins */

.passwordChecker {
	@import 'reset'; /* Reset the divs inside our widgets */

	border-radius: 3px;
	font-family: sans-serif;
	color: #313131;
	font-size: 12px;
	background: $white;
	clear: both;

	input {
		margin-bottom: 10px;
	}

	/* Header Styling */
	.password-message-wrapper {
		opacity: 0.4;
		padding: 2px 0px;
	}

	.password-message-wrapper.warning {
		opacity: 0.8;
		color: #f00;
	}
}
